{% extends "base.html" %}

{% block title %}
{{ _("Welcome to Lemmy") }}
{% end %}

{% block body %}
<p>
{{ _("In order to direct your call, tell us the Lemmy server you call home.") }}
{{ _("We'll store it in a cookie, so you only have to do this once.") }}
</p>
<form action="/welcome?to={{ url_escape(to) }}" method="post">
	<div class="grouped">
		<input type="text"
		       id="instance"
		       list="instances"
		       name="instance"
		       minlength="4"
		       autofocus=""
		       onkeydown="keydown(event);"
		       placeholder="{{ _('Server') }}">
		<datalist id="instances">
		{% for instance in instances %}
			<option value="{{ instance }}">
		{% end %}
		</datalist>
		<input type="submit" value="{{ _('Go') }}">
	</div>
</form>
{% end %}

{% block script %}
function keydown(event)
{
	if (!event.isComposing && event.keyCode == 13) {
		event.preventDefault();
		event.target.form.submit();
	}
}
{% end %}
